<h3>Lista de Roles</h3>

<button nz-button nzType="link" (click)="mostrarInput = true" class="m-b-20">
  <i nz-icon nzType="plus"></i>Nuevo Rol
</button>

<form
  class="ordenar"
  *ngIf="mostrarInput"
  nz-form
  [nzLayout]="'inline'"
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label>Nombre</nz-form-label>
    <nz-form-control nzErrorTip="Por favor ingrese un nombre de Rol">
      <nz-input-group nzPrefixIcon="solution">
        <input
          formControlName="name"
          nz-input
          placeholder="Nombre de rol"
          oninput="this.value = this.value.toUpperCase()"
          />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  
  <!-- <nz-form-item>
    <nz-form-label>Descripción</nz-form-label>
    <nz-form-control nzErrorTip="Por favor ingrese una descripción de rol!">
      <nz-input-group nzPrefixIcon="solution">
        <input
          formControlName="name"
          nz-input
          placeholder="Descripción de rol"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item> -->

  <nz-form-item class="w-50">
    <nz-form-control>
      <button
        nz-button
        nzType="primary"
        nzDanger
        (click)="mostrarInput = false; limpiarInput()"
        class="btn-cancelar">
        Cancelar
      </button>
      <button
        type="button"
        nz-button
        nzType="primary"
        (click)="mostrarInput = false; addRow()"
        [disabled]="!validateForm.valid"
        >
        Agregar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-table #dataTable nzBordered [nzData]="listOfData" class="w-100">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <!-- <th>Descripción</th> -->
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataTable.data; let i = index">
      <!-- editcache view -->
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
      <!-- <ng-container> -->
        <td>{{ i + 1 }}</td>
        <td>{{ data.name }}</td>
        
        <!-- <td>{{ data.name }}</td> -->
        
        <td>
            <button 
            nz-button
            nzType="link"
            nzSize="small"
            nzPrimary
            (click)="startEdit(data.id)">Editar
          </button>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            nzDanger
            
            nz-popconfirm
            nzPopconfirmTitle="Seguro de eliminar?"
            (nzOnConfirm)="deleteRow(data.id)"
          >
            Eliminar
          </button>
        </td>
      </ng-container>

      <ng-template #editTemplate>
        <td>
          {{ i + 1 }}
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.name"
            oninput="this.value = this.value.toUpperCase()"
          />
        </td>
        <!-- <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.name"
          />
        </td> -->

        <td>
          <button 
          nz-button
          nzType="link"
          nzSize="small"
          nzPrimary
          (click)="saveEdit(data.id)" class="save">Guardar</button><br>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            nzDanger
            (click)="cancelEdit(data.id)"
            >Cancelar</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
