.anticon-delete {
  color: red;
}
.anticon {
  margin-right: 8px;
}

form {
  margin-bottom: 20px;
}

.btn-cancelar {
  margin-right: 10px;
}

.btn-agregar {
  margin-right: 10px;
}

nz-input-group {
  margin-right: 10px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* style of option */
.combo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* style of option content */
.combo {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
